// Shadows (originally from mdl http://www.getmdl.io/)
$bmd-shadow-umbra-opacity: 0.0 !default;
$bmd-shadow-penumbra-opacity: 0.0 !default;
$bmd-shadow-ambient-opacity: 0.0 !default;

// Declare the following for reuse with both mixins and the bootstrap variables
// TODO: Modified to remove shadows
$bmd-shadow-focus: 0 0 0 rgba($black, 0), 0 0 0 rgba($black, .36);

$bmd-shadow-2dp: 0 0 0 0 rgba($black, $bmd-shadow-penumbra-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-umbra-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-ambient-opacity);

$bmd-shadow-3dp: 0 0 0 0 rgba($black, $bmd-shadow-penumbra-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-umbra-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-ambient-opacity);

$bmd-shadow-4dp: 0 0 0 0 rgba($black, $bmd-shadow-penumbra-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-ambient-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-umbra-opacity);

$bmd-shadow-6dp: 0 0 0 0 rgba($black, $bmd-shadow-penumbra-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-ambient-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-umbra-opacity);

$bmd-shadow-8dp: 0 0 0 0 rgba($black, $bmd-shadow-penumbra-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-ambient-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-umbra-opacity);

$bmd-shadow-16dp: 0 0 0 0 rgba($black, $bmd-shadow-penumbra-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-ambient-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-umbra-opacity);

$bmd-shadow-24dp: 0 0 0 0 rgba($black, $bmd-shadow-penumbra-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-ambient-opacity),
  0 0 0 0 rgba($black, $bmd-shadow-umbra-opacity);
